
@{
    ViewBag.Title = "TimeSheet";
}

<h2>TimeSheet</h2>
<p> This is roughly how much time I have spent on this project</p>
<br />

<ul type="square">
    <li>Database desing and architecture: 1 hour</li>
    <li>Development: 8 hours
        <ul>
            <li>
                Login: 1.5 hours
            </li>
            <li>
                Home page: 2 hours
            </li>
            <li>
                Dashboard: 4.5 hours
            </li>
        </ul>
    </li>
    <li>Deployment: 1 hours</li>
</ul>

