body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F1F3FA;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Nav bar */
.navbar {
    border: 0;
    border-bottom: 1px solid #b92b31;
}

.navbar a {
    color: #777;
}


/* Content */
.login-modal {
    font-size: 12px;
}

.login-modal button{
    margin-bottom: 5px;
}

.todo-content {
    margin: 0 auto;
    width: 80%;
}

.user-profile {
    margin: 0 auto;
    width: 60%;
}

.user-profile img{
    width: 100%;
    border-radius: 15px;
}

.category h3 {
    text-align: center;
}

.todos ul li {
    margin-top: 10px;
    box-shadow: 3px 3px 20px #e8e8e8;
}

.finished ul li {
    margin-top: 10px;
    box-shadow: 3px 3px 20px #e8e8e8;
    text-decoration: line-through;
}

.add-todo {
    float:right;
}

.btn {
    font-size: 11px;
}

.add-category {
    padding-left: 5px;
}

.urgency-3 {
    background-color: #f9a6b6;
}

.urgency-2 {
    background-color: #f6f7c2;
}

.selected-category {
    background-color: #c1c1c1;
}


.todo-complete{
    float:left;
    padding-right: 5px;
}

.todo-delete {
    float: left;
}

.warning {
    color: red;
}


/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    border-top: 1px solid #b92b31;
}

.footer div {
    text-align: center;
}




