
@{
    ViewBag.Title = "Index";
}

<div class="todo-content">

    <div class="col-md-4 ">
        <div class="categoryBar well">
            <div class="user-profile">

                <img src="~/Assets/Image/profile-default.jpg"/>
            </div>
            
            <hr />

            <div class="category">
                <h3>Categories:</h3>

                <ul class="list-group">

                    <li class="list-group-item clearfix">
                        <span>Eat breakfast</span>

                        <div class="pull-right" role="group">
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <span>Eat breakfast</span>

                        <div class="pull-right" role="group">
                        </div>
                    </li>
                    <li class="list-group-item clearfix">
                        <span>Eat breakfast</span>

                        <div class="pull-right" role="group">
                        </div>
                    </li>
                </ul>   
            </div>

            <div class="add-category">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-category">Add Category</button>
            </div>
        </div>
    </div>




    <div class="col-md-8 well">
        <div class="todos">

            <h3>To Do:</h3>

            <ul class="list-group">

                <li class="list-group-item clearfix">
                    <span>Eat breakfast</span>

                    <div class="pull-right" role="group">
                        <button type="button" class="btn btn-xs btn-success img-circle">✓</button>
                        <button type="button" class="btn btn-xs btn-danger img-circle">Ｘ</button>
                    </div>
                </li>
                <li class="list-group-item clearfix">
                    <span>Eat breakfast</span>

                    <div class="pull-right" role="group">
                        <button type="button" class="btn btn-xs btn-success img-circle">✓</button>
                        <button type="button" class="btn btn-xs btn-danger img-circle">Ｘ</button>
                    </div>
                </li>
                <li class="list-group-item clearfix">
                    <span>Eat breakfast</span>

                    <div class="pull-right" role="group">
                        <button type="button" class="btn btn-xs btn-success img-circle">✓</button>
                        <button type="button" class="btn btn-xs btn-danger img-circle">Ｘ</button>
                    </div>
                </li>
            </ul>
        </div>



        <div class="finished">

            <h3>Finished:</h3>

            <ul class="list-group">

                <li class="list-group-item clearfix">
                    <span>Eat breakfast</span>

                    <div class="pull-right" role="group">
                        <button type="button" class="btn btn-xs btn-danger img-circle">Ｘ</button>
                    </div>
                </li>
                <li class="list-group-item clearfix">
                    <span>Eat breakfast</span>

                    <div class="pull-right" role="group">
                        <button type="button" class="btn btn-xs btn-danger img-circle">Ｘ</button>
                    </div>
                </li>
                <li class="list-group-item clearfix">
                    <span>Eat breakfast</span>

                    <div class="pull-right" role="group">
                        <button type="button" class="btn btn-xs btn-danger img-circle">Ｘ</button>
                    </div>
                </li>
            </ul>
        </div>


        <div>
            <button type="button" class="add-todo btn btn-primary">Add Todo</button>
        </div>
    </div>
</div>

  

@Html.Partial("_AddCategoryModal")